In [47]:
import pandas as pd

In [48]:
xlsx = pd.ExcelFile('Solar Energy.xlsx')

In [49]:
solar_dat = pd.read_excel(xlsx, 'Actuals')

In [50]:
four_hr_dat = pd.read_excel(xlsx, '4 Hour Forecast')

In [51]:
one_day_dat = pd.read_excel(xlsx, 'Day Ahead Forecast')

In [52]:
print(solar_dat.dtypes)
print(solar_dat.shape)

Date                  datetime64[ns]
Reading                       object
Location Site Name            object
Latitude                     float64
Longitude                    float64
PV                            object
Capacity                      object
Power(MW)                    float64
dtype: object
(832200, 8)

In [53]:
print(four_hr_dat.dtypes)
print(four_hr_dat.shape)

Reading                       object
Latitude                     float64
Longitude                    float64
PV                            object
Capacity                      object
Reading Date          datetime64[ns]
Location Site Name            object
Power(MW)                    float64
dtype: object
(87600, 8)

In [54]:
print(one_day_dat.dtypes)
print(one_day_dat.shape)

Reading                       object
Latitude                     float64
Longitude                    float64
PV                            object
Capacity                      object
Reading Date          datetime64[ns]
Location Site Name            object
Power(MW)                    float64
dtype: object
(87600, 8)

In [55]:
four_hr_dat = four_hr_dat[['Location Site Name', 'Reading Date', "Power(MW)"]]
one_day_dat = one_day_dat[['Location Site Name', 'Reading Date', "Power(MW)"]]

In [56]:
four_hr_dat = four_hr_dat.rename(columns = {"Power(MW)" : "Power_4_Hour_Forecast"})
one_day_dat = one_day_dat.rename(columns = {"Power(MW)" : "Day_Ahead_Forecast"})

In [57]:
print(four_hr_dat.head(5))
print(one_day_dat.head(5))

  Location Site Name        Reading Date  Power_4_Hour_Forecast
0       Bethel Array 2020-05-04 08:00:00                   29.0
1       Bethel Array 2020-05-04 09:00:00                   36.1
2       Bethel Array 2020-05-04 10:00:00                   31.3
3       Bethel Array 2020-05-04 11:00:00                   35.8
4       Bethel Array 2020-05-04 12:00:00                   35.3
   Location Site Name        Reading Date  Day_Ahead_Forecast
0  Preston Road Array 2020-01-01 00:00:00                 0.0
1  Preston Road Array 2020-01-01 01:00:00                 0.0
2  Preston Road Array 2020-01-01 02:00:00                 0.0
3  Preston Road Array 2020-01-01 03:00:00                 0.0
4  Preston Road Array 2020-01-01 04:00:00                 0.0

In [58]:
one_day_dat["Location Site Name"].unique()

array(['Preston Road Array', 'East Fork Array', "Aaron's Creek Array",
       'Millvale Array', 'Lincoln Heights Array', 'Anstelt Array',
       'Bethel Array', 'Owensville Array', 'Norwood Array',
       'Oak Hills Array'], dtype=object)

In [59]:
four_hr_dat["Location Site Name"].unique()

array(['Bethel Array', "Aaron's Creek Array", 'Preston Road Array',
       'East Fork Array', 'Owensville Array', 'Anstelt Array',
       'Millvale Array', 'Oak Hills Array', 'Lincoln Heights Array',
       'Norwood Array'], dtype=object)

__I have three datasets with data of actual, 4 hour forecats, and day ahead values. I want to compare these values against each other, however the dataset with the actuals contain location sites no included in the forecast datasets. So I have joined matching data together.__ <br>

In [60]:
four_hr_dat = four_hr_dat.rename(columns = {"Reading Date" : "Date"})
one_day_dat = one_day_dat.rename(columns = {"Reading Date" : "Date"})

In [61]:
one_four_dat = four_hr_dat.merge(one_day_dat, how = 'inner', on = ['Date', 'Location Site Name'])

In [62]:
#one_four_dat = one_four_dat.rename(columns = {"Reading Date" : "Date"})

In [63]:
one_four_dat.head(20)

,Location Site Name,Date,Power_4_Hour_Forecast,Day_Ahead_Forecast
0,Bethel Array,2020-05-04 08:00:00,29.0,4.6
1,Bethel Array,2020-05-04 09:00:00,36.1,14.1
2,Bethel Array,2020-05-04 10:00:00,31.3,2.6
3,Bethel Array,2020-05-04 11:00:00,35.8,31.7
4,Bethel Array,2020-05-04 12:00:00,35.3,25.2
5,Bethel Array,2020-05-04 13:00:00,32.5,18.3
6,Bethel Array,2020-05-04 14:00:00,18.1,2.6
7,Bethel Array,2020-05-04 15:00:00,10.6,16.2
8,Bethel Array,2020-05-04 16:00:00,9.4,21.3
9,Bethel Array,2020-05-04 17:00:00,6.3,24.5
10,Bethel Array,2020-05-04 18:00:00,0.0,16.4
11,Bethel Array,2020-05-04 19:00:00,0.0,0.0
12,Bethel Array,2020-05-04 20:00:00,0.0,0.0
13,Bethel Array,2020-05-04 21:00:00,0.0,0.0
14,Bethel Array,2020-05-04 22:00:00,0.0,0.0
15,Bethel Array,2020-05-04 23:00:00,0.0,0.0
16,Bethel Array,2020-05-05 00:00:00,0.0,0.0
17,Bethel Array,2020-05-05 01:00:00,0.0,0.0
18,Bethel Array,2020-05-05 02:00:00,0.0,0.0
19,Bethel Array,2020-05-05 03:00:00,0.0,0.0

In [64]:
print(one_four_dat.dtypes)
print(one_four_dat.shape)

Location Site Name               object
Date                     datetime64[ns]
Power_4_Hour_Forecast           float64
Day_Ahead_Forecast              float64
dtype: object
(87620, 4)

In [65]:
solar_dat = solar_dat[["Date", "Location Site Name", "PV", "Power(MW)", "Capacity"]]
solar_dat = solar_dat.rename(columns = {"Power(MW)" : "Actual_Power"})

In [66]:
date_location_merge = one_four_dat.merge(solar_dat, how = 'inner', on = ['Date', 'Location Site Name'])

In [67]:
print(date_location_merge.head(10))
print(date_location_merge.shape)
print(list(date_location_merge))

  Location Site Name                Date  Power_4_Hour_Forecast
0       Bethel Array 2020-05-04 08:00:00                   29.0  \
1       Bethel Array 2020-05-04 09:00:00                   36.1
2       Bethel Array 2020-05-04 10:00:00                   31.3
3       Bethel Array 2020-05-04 11:00:00                   35.8
4       Bethel Array 2020-05-04 12:00:00                   35.3
5       Bethel Array 2020-05-04 13:00:00                   32.5
6       Bethel Array 2020-05-04 14:00:00                   18.1
7       Bethel Array 2020-05-04 15:00:00                   10.6
8       Bethel Array 2020-05-04 16:00:00                    9.4
9       Bethel Array 2020-05-04 17:00:00                    6.3

   Day_Ahead_Forecast                PV  Actual_Power Capacity
0                 4.6  Utility Scale PV         259.4     52MW
1                14.1  Utility Scale PV         342.8     52MW
2                 2.6  Utility Scale PV         428.7     52MW
3                31.7  Utility Scale PV         398.3     52MW
4                25.2  Utility Scale PV         228.0     52MW
5                18.3  Utility Scale PV         286.7     52MW
6                 2.6  Utility Scale PV         170.5     52MW
7                16.2  Utility Scale PV         149.8     52MW
8                21.3  Utility Scale PV         130.9     52MW
9                24.5  Utility Scale PV          86.1     52MW
(87660, 7)
['Location Site Name', 'Date', 'Power_4_Hour_Forecast', 'Day_Ahead_Forecast', 'PV', 'Actual_Power', 'Capacity']

In [68]:
#date_location_merge.to_csv('Actual_vs_Forecasted.csv', header = 'true')

In [69]:
print(one_four_dat.shape)
print(one_four_dat.dtypes)
print(list(solar_dat))
print(one_four_dat['Location Site Name'].unique())

(87620, 4)
Location Site Name               object
Date                     datetime64[ns]
Power_4_Hour_Forecast           float64
Day_Ahead_Forecast              float64
dtype: object
['Date', 'Location Site Name', 'PV', 'Actual_Power', 'Capacity']
['Bethel Array' "Aaron's Creek Array" 'Preston Road Array'
 'East Fork Array' 'Owensville Array' 'Anstelt Array' 'Millvale Array'
 'Oak Hills Array' 'Lincoln Heights Array' 'Norwood Array']

In [70]:
print(solar_dat.dtypes)
print(list(solar_dat))

Date                  datetime64[ns]
Location Site Name            object
PV                            object
Actual_Power                 float64
Capacity                      object
dtype: object
['Date', 'Location Site Name', 'PV', 'Actual_Power', 'Capacity']

__Looking for discrepancies in my merged data.__

__It looks like some rows are being dupliciated for each location after each merge__

In [71]:
print(solar_dat[solar_dat['Location Site Name'] == "Aaron's Creek Array"].count())
print(one_four_dat[one_four_dat['Location Site Name'] == "Aaron's Creek Array"].count())
print(four_hr_dat[four_hr_dat['Location Site Name'] == "Aaron's Creek Array"].count())
print(one_day_dat[one_day_dat['Location Site Name'] == "Aaron's Creek Array"].count())
print(date_location_merge[date_location_merge['Location Site Name'] == "Aaron's Creek Array"].count())

Date                  8760
Location Site Name    8760
PV                    8760
Actual_Power          8760
Capacity              8760
dtype: int64
Location Site Name       8762
Date                     8762
Power_4_Hour_Forecast    8762
Day_Ahead_Forecast       8762
dtype: int64
Location Site Name       8760
Date                     8760
Power_4_Hour_Forecast    8760
dtype: int64
Location Site Name    8760
Date                  8760
Day_Ahead_Forecast    8760
dtype: int64
Location Site Name       8766
Date                     8766
Power_4_Hour_Forecast    8766
Day_Ahead_Forecast       8766
PV                       8766
Actual_Power             8766
Capacity                 8766
dtype: int64

In [72]:
print(solar_dat[solar_dat['Location Site Name'] == 'Bethel Array'].count())
print(one_four_dat[one_four_dat['Location Site Name'] == 'Bethel Array'].count())
print(date_location_merge[date_location_merge['Location Site Name'] == 'Bethel Array'].count())

Date                  8760
Location Site Name    8760
PV                    8760
Actual_Power          8760
Capacity              8760
dtype: int64
Location Site Name       8762
Date                     8762
Power_4_Hour_Forecast    8762
Day_Ahead_Forecast       8762
dtype: int64
Location Site Name       8766
Date                     8766
Power_4_Hour_Forecast    8766
Day_Ahead_Forecast       8766
PV                       8766
Actual_Power             8766
Capacity                 8766
dtype: int64

In [73]:
print(solar_dat[solar_dat['Location Site Name'] == 'East Fork Array'].count())
print(one_four_dat[one_four_dat['Location Site Name'] == 'East Fork Array'].count())
print(date_location_merge[date_location_merge['Location Site Name'] == 'East Fork Array'].count())

Date                  8760
Location Site Name    8760
PV                    8760
Actual_Power          8760
Capacity              8760
dtype: int64
Location Site Name       8762
Date                     8762
Power_4_Hour_Forecast    8762
Day_Ahead_Forecast       8762
dtype: int64
Location Site Name       8766
Date                     8766
Power_4_Hour_Forecast    8766
Day_Ahead_Forecast       8766
PV                       8766
Actual_Power             8766
Capacity                 8766
dtype: int64

In [74]:
forecast_date = one_four_dat[one_four_dat['Location Site Name'] == 'East Fork Array'].Date.sort_values()
forecast_date_month = pd.DatetimeIndex(forecast_date).month
forecast_date_month.value_counts().sort_index()

Date
1     744
2     672
3     746
4     720
5     744
6     720
7     744
8     744
9     720
10    744
11    720
12    744
Name: count, dtype: int64

In [75]:
date_location_merge_date = date_location_merge[date_location_merge['Location Site Name'] == 'East Fork Array'].Date.sort_values()
date_location_merge_date = pd.DatetimeIndex(date_location_merge_date).month
date_location_merge_date.value_counts().sort_index()

Date
1     744
2     672
3     750
4     720
5     744
6     720
7     744
8     744
9     720
10    744
11    720
12    744
Name: count, dtype: int64

In [76]:
solar_date = solar_dat[solar_dat['Location Site Name'] == 'Bethel Array'].Date.sort_values()

In [77]:
forecast_date = one_four_dat[one_four_dat['Location Site Name'] == 'Bethel Array'].Date.sort_values()

In [78]:
date_location_merge_date = date_location_merge[date_location_merge['Location Site Name'] == 'Bethel Array'].Date.sort_values()

In [79]:
solar_date = pd.to_datetime(solar_date)
forecast_date = pd.to_datetime(forecast_date)
date_location_merge_date = pd.to_datetime(date_location_merge_date)

__Count how many time a month appears for the Bethel Array location__

In [80]:
solar_date_month = pd.DatetimeIndex(solar_date).month
solar_date_month.value_counts().sort_index()

Date
1     744
2     672
3     744
4     720
5     744
6     720
7     744
8     744
9     720
10    744
11    720
12    744
Name: count, dtype: int64

In [81]:
forecast_date_month = pd.DatetimeIndex(forecast_date).month
forecast_date_month.value_counts().sort_index()

Date
1     744
2     672
3     746
4     720
5     744
6     720
7     744
8     744
9     720
10    744
11    720
12    744
Name: count, dtype: int64

In [82]:
date_location_merge_month = pd.DatetimeIndex(date_location_merge_date).month
date_location_merge_month.value_counts().sort_index()

Date
1     744
2     672
3     750
4     720
5     744
6     720
7     744
8     744
9     720
10    744
11    720
12    744
Name: count, dtype: int64

__Now count how many days and compare between the standard and joined datasets. <br> Above code tells which month has too many days and below shows which exact day has duplicates.__

In [83]:
print(pd.DatetimeIndex(solar_date[solar_date.dt.month == 3]).day.value_counts().sort_index())
print(pd.DatetimeIndex(forecast_date[forecast_date.dt.month == 3]).day.value_counts().sort_index())
print(pd.DatetimeIndex(date_location_merge_date[date_location_merge_date.dt.month == 3]).day.value_counts().sort_index())

Date
1     24
2     24
3     24
4     24
5     24
6     24
7     24
8     24
9     24
10    24
11    24
12    24
13    24
14    24
15    24
16    24
17    24
18    24
19    24
20    24
21    24
22    24
23    24
24    24
25    24
26    24
27    24
28    24
29    24
30    24
31    24
Name: count, dtype: int64
Date
1     24
2     24
3     24
4     24
5     24
6     24
7     24
8     26
9     24
10    24
11    24
12    24
13    24
14    24
15    24
16    24
17    24
18    24
19    24
20    24
21    24
22    24
23    24
24    24
25    24
26    24
27    24
28    24
29    24
30    24
31    24
Name: count, dtype: int64
Date
1     24
2     24
3     24
4     24
5     24
6     24
7     24
8     30
9     24
10    24
11    24
12    24
13    24
14    24
15    24
16    24
17    24
18    24
19    24
20    24
21    24
22    24
23    24
24    24
25    24
26    24
27    24
28    24
29    24
30    24
31    24
Name: count, dtype: int64

__Find indexes of duplicated day and hour__

In [84]:
four_hr_dat.index[four_hr_dat['Date'] == '2020-03-08 03:00:00'].tolist()

[2360,
 2361,
 15022,
 15023,
 18260,
 18261,
 34983,
 34984,
 40783,
 40784,
 48223,
 48224,
 54023,
 54024,
 62783,
 62784,
 71543,
 71544,
 74626,
 74627]

In [85]:
one_day_dat.index[one_day_dat['Date'] == '2020-03-08 03:00:00'].tolist()

[1586,
 1587,
 10346,
 10347,
 19548,
 19549,
 30669,
 30670,
 39429,
 39430,
 45306,
 45307,
 58294,
 58295,
 63716,
 63717,
 72476,
 72477,
 83266,
 83267]

__This code below will delete certain rows based off the index__

In [86]:
#four_hr_dat.drop([1587,10347,...])

__From my investigation, the month of March has a duplicate date specifically 03/08/2020 03:00 for all the locations. When I join my data it will create more duplicates.<br> <br> I do not know if the duplicates are the result of a clerical error or the reading for that date was done twice.__